# .gitignore file for project

# Mac OSX files
.DS_Store

# IntelliJ files
*.iml
.idea
out
client/out
server/out

# Ant build
/build/artifacts
/client/build
/server/build
/server/logs

# Java files
*.class
.mtj.tmp/
hs_err_pid*
*.war
*.jar

# Library files
/lib
/server/lib
/client/lib

# Key files
*.jks
*.jceks
*.cert
