.visible {
    visibility: visible;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
}

.innerLink {
    padding-left: 1em;
}

.error {
    color: red;
}

.buttonDiv {
    padding-top: 1em;
}

.right-text {
    text-align: right;
}