<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="OrgBuilderConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd-yy HH:mm:ss.SSS} %-5level: [%-8c{1}]: %msg %n%rEx{full}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR" />
        <Logger name="resource" level="DEBUG">
            <AppenderRef ref="OrgBuilderConsole" />
        </Logger>
    </Loggers>
</Configuration>