<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="mainPatternLayout">%d{MM-dd-yy HH:mm:ss.SSS} %-5level: [%-7c{1}]: %msg %n%rEx{full}</Property>
    </Properties>
    <Appenders>
        <Console name="OrgBuilderConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${mainPatternLayout}"/>
        </Console>
        <!--<RollingFile name="OrgBuilderFile" fileName="logs/orgapi.log" filePattern="logs/orgapi.%i.log">-->
            <!--<PatternLayout pattern="${mainPatternLayout}" />-->
            <!--<Policies>-->
                <!--<SizeBasedTriggeringPolicy size="5 MB" />-->
            <!--</Policies>-->
            <!--<DefaultRolloverStragety max="10" />-->
        <!--</RollingFile>-->
    </Appenders>
    <Loggers>
        <Root level="ERROR" />
        <Logger name="io.craigmiller160.orgbuilder.server" level="DEBUG">
            <AppenderRef ref="OrgBuilderConsole" />
            <!--<AppenderRef ref="OrgBuilderFile" />-->
        </Logger>
        <Logger name="com.mysql" level="ERROR" />
    </Loggers>
</Configuration>